COMPOSE_FILE=docker-compose.yml  #compose.php-apache.yml:compose.mariadb.yml

WEB_PORT=
WEB_TARGET=                      #production or development

UID=
GID=

DB_ROOT_PASSWORD=
DB_NAME=
DB_USER=
DB_PASSWORD=

CF_TUNNEL_TOKEN=